/* PRINCIPAL */
*{
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;
    color:#658404;
    text-align:center;
}
html{
    background-color:#e7efd1;
}
body{
    min-width:550px;
    font-size:12px;
}
fieldset{
    border:0 none;
}
h3, h3 a, #abas li a{
    font-weight:normal;
    text-transform:uppercase;
    font-size:1.3em;
    font-family:Helvetica,Arial,sans-serif;
    color:#56a73e;
}
p{
    margin-bottom:.9em;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:0 none;
}
#global{
    width:95%;
    margin:20px auto;
    padding:1%;
    height:1%;
    background:#fff url(../img/fundo_global.jpg) repeat-x left bottom;
}
#global *{
    text-align:left;
}
#fundo_branco{
    background:#FFF;
    border:2px solid #BFDF8D;
    margin-top:3px;
    height:1%;
}

/* TOPO */
#topo{
    background-color:#FFF;
    position: relative;
    height:165px;
    border-bottom:2px solid #AADE64;
}

#topo_esc{
    background:transparent url(../img/topo_esq.jpg) no-repeat left top;
    width:12px;
    height:10px;
    float:left;
    margin:-2px 0 0 -3px;
}
#topo_dir{
    background:transparent url(../img/topo_dir.gif) no-repeat left top;
    width:12px;
    height:10px;
    float:right;
    margin:-2px -3px 0 0;
}
#titulos{
    float:left;
    text-indent:-20000px;
    margin-top:-3px;
    clear:both;
}
h2#ifrs a{
    background:transparent url(../img/logo_novo.png) no-repeat left top;
    width:329px;
    height:114px;
    margin-left:8px;
    display:block;
    outline:0;
}
h2#campus{
    background:#FFF url(../img/campus.gif) no-repeat left top;
    width:277px;
    height:48px;
}
#acessibilidade{
    border:1px inset #FFF;
    float:right;
    background:#E9F1E1 url(../img/fundo_acessibilidade.jpg) repeat-x left top;
    margin-right:10px;
    padding:3px 0 7px 0;
}
#acessibilidade li{
    float:left;
    margin:5px 5px 0 10px;
}
#botoes li a{
    outline:0;
}
#acessibilidade li a:hover{
    text-decoration:underline;
}
#atalhos, #botoes{
    float:left;
}
#botoes li a{
    text-indent:-20000px;
    display:block;
    width:22px;
    height:17px;
}
li.aumentar_fonte a{
    background:transparent url(../img/aumentar_fonte.gif) no-repeat left top;
}
li.diminuir_fonte{
    background:transparent url(../img/diminuir_fonte.gif) no-repeat left top;
}
li.tamanho_original{
    background:transparent url(../img/fonte_normal.gif) no-repeat left top;
}
li.alto_contraste{
    background:transparent url(../img/alto_contraste.gif) no-repeat left top;
}
#contraste{
    position: relative;
}

#caixa_contraste{
    position: absolute;
    display: none;
    width: 75px;
    left: -20px;
    background-color: #C8E89C;
}

#caixa_contraste li{
    display: block;
    width: 75px;
    clear: both;
    padding: 0;
    margin: 0;
}

#caixa_contraste li a{
    display: block;
    width: 75px;
    text-indent: 0;
}

/*MENU*/
#menu{
    width:22%;
    float:left;
    margin-left:10px;
    font-family:Verdana, Geneva, sans-serif;
}
#container #menu{
    width:28%;
    margin-top:0;
}
#menu p.w3c{
    text-align:center;
}
#menu .sessao{
    border:1px solid #D7D7D7;
    height:1%;
    margin-bottom:4px;
}
#menu .menu_esq_top{
    background:transparent url(../img/menu_esq_top.jpg) no-repeat left top;
    width:8px;
    height:7px;
    float:left;
    margin:-1px 0 0 -1px;
}
#menu .menu_dir_top{
    background:transparent url(../img/menu_dir_top.jpg) no-repeat right top;
    width:7px;
    height:6px;
    float:right;
    margin:-1px -1px 0 0;
}
#menu .menu_esq_bot{
    background:transparent url(../img/menu_esq_bot.jpg) no-repeat left bottom;
    width:7px;
    height:5px;
    float:left;
    clear:both;
    margin:1px 0 -1px -1px;
}
#menu .menu_dir_bot{
    background:transparent url(../img/menu_dir_bot.jpg) no-repeat right bottom;
    width:6px;
    height:6px;
    float:right;
    margin:0 -1px -1px 0;
}
#menu .sub_sessao{
    border:1px solid #EAEAEA;
    height:1%;
    display:none;
    margin:4px 3px 0 3px;
    clear:both;
    padding:2px;
    background:transparent url(../img/fundo_sub.jpg) repeat-x left bottom;
}
#menu h3{
    margin:5px 0 0 7px;
    font-family:Helvetica, Arial, sans-serif;
    height:1%;
}
#menu h3 a{
    font-size:0.9em;
    float:left;
}
#menu li{
    padding:3px;
    margin-top:3px;
}
#menu li a{
    display:block;
    padding:2px;
}
#menu li a:hover{
    text-decoration:underline;
}

/*VERDE*/
#menu .verde h3 a{
    background:transparent url(../img/lista_verde.jpg) no-repeat left center;
    padding-left:18px;
}
#menu .verde li{
    border:1px solid #C7F2B8;
}
#menu .verde li a{
    border:1px solid #E0F8D8;
    color:#3B8D26;
    background:#FFF url(../img/fundo_verde.jpg) repeat-x left bottom;
}

/*AZUL*/
#menu .azul h3 a{
    background:transparent url(../img/lista_azul.jpg) no-repeat left center;
    padding-left:18px;
}
#menu .azul h3 a{
    color:#3A545F;
}
#menu .azul li{
    border:1px solid #CBD9DF;
}
#menu .azul li a{
    border:1px solid #E3EBEE;
    color:#25617C;
    background:#FFF url(../img/fundo_azul.jpg) repeat-x left bottom;
}

#menu .verde a.oculto, #menu .azul a.oculto{
    background:none;
}

/*SEM SUB SESS�O*/
#menu .sem_sub h3{
    background:#FFF url(../img/fundo_sem.jpg) repeat-x left bottom;
    border:1px solid #E8E8E8;
    margin:5px 5px 0 5px;
    padding:2px;
}
#menu .sem_sub a{
    color:#575757;
    background:transparent url(../img/lista_sem.jpg) no-repeat left 2px;
    padding-left:18px;
}

/*INDEX*/
#container{
    float:left;
    width:78%;
    clear:both;
}
#central *, #contDireita *, #conteudo *{
    line-height:170%;
    color:#658404;
}

/*CENTRAL*/
#central{
    width:69%;
    float:right;
    margin-right:3px;
}
#fundo{
    background:#D8DDC6 url(../img/fundo_conteudo.jpg) repeat-x left top;
    padding:0 10px;
}
#central #not_video{
    float:right;
}
#central a{
    text-decoration:underline;
    font-size:.9em;
}
#container h2{
    font-size:1.5em;
    margin-bottom:5px;
}
#container h2.h2Principal{
    font-size:1.7em;
}
#banners{
    clear:both;
    height:1%;
    text-align:center;
    padding:10px 0;
}
#banners ul{
    height:1%;
    display:table;
    margin:0 auto;
}
#banners li{
    float:left !important;
    clear:none !important;
    list-style:none !important;
    height:60px !important;
}
#banners li a{
    height:60px;
    text-indent:-20000px;
    display:block;
    margin:0 10px;
    outline:0;
    background:transparent no-repeat left center;
}

#banners .gnuteca a { background-image:url(../img/banner-gnuteca.jpg);width:50px}
#banners .imama a { background-image:url(../img/banner-imama.jpg);width:91px;}
#banners .nudec a { background-image:url(../img/banner-nudec.jpg);width:63px}
#banners .periodicos a { background-image:url(../img/banner-periodicos.jpg);width:141px}
#banners .proeja-fic a { background-image:url(../img/banner-proeja-fic.jpg);width:121px}
#banners .pibid a { background-image:url(../img/banner-pibid.jpg);width:110px}
#banners .setec a { background-image:url(../img/banner-setec.jpg);width:59px}
#banners .siep a { background-image:url(../img/banner-siep.jpg);width:109px}
#banners .pet a { background-image:url(../img/banner-pet.jpg);width:58px}
#banners .cis a { background-image:url(../img/banner-cis.jpg);width:125px}
#banners .nit a{background-image:url(../img/banner-nit.jpg);width:143px}
#banners .ouvidoria a{background-image:url(../img/banner-ouvidoria.jpg);width:210px}
#banners .inmet a{background-image:url(../img/inmet.jpg);width:100px}

#banners .dom_publico a{
	background:transparent url(../img/dominiopublico.jpg) no-repeat left center;
	width:162px;
}

#central #abas a{
    text-decoration:none;
}
#abas{
    height:1%;
    margin-bottom:10px;
}
#abas li{
    float:left;
    margin-right:15px;
}
#abas li a{
    color:#949F76;
    font-family:Helvetica, Arial, sans-serif;
}
#abas li a.selecao{
    color:#545D3B;
}
#container img{
    border:2px solid #FFF;
}
#container #noticiaUm{
    border-bottom:1px solid #FFF;
    height:1%;
    padding-bottom:20px;
}
#container #noticiaDois{
    width:48%;
    float:left;
    border-right:1px solid #FFF;
    padding:20px 10px 20px 0;
    clear:both;
}
#container #noticiaTres{
    width:48%;
    float:right;
    padding:20px 0;
}
#outrasNoticias{
    clear:both;
}

#outrasNoticias ul{
    margin-top:10px;
}
#container #outrasNoticias{
    clear:both;
    border-top:1px solid #FFF;
    padding:20px 0;
}
#conteudo h3{
    color:#4E5A2F;
    margin-bottom:10px;
}
#conteudo p a{
    text-decoration:underline;
    font-weight:bold;
}
#conteudo #outrasNoticias li, #outrasNoticias li{
    padding-left:22px;
    margin-bottom:5px;
    list-style:none;
}
#container #outrasNoticias li{
    background:transparent url(../img/lista_outrasNot.jpg) no-repeat left 3px;
}
#conteudo #outrasNoticias li{
    background:transparent url(../img/lista_link.jpg) no-repeat left 3px;
}
#outrasNoticias li a{
    text-decoration:none;
}
#outrasNoticias li a:hover{
    text-decoration:underline;
}
#outrasNoticias a.right{
    float:right;
}

/*DIREITA*/
#contDireita{
    float:right;
    width:20%;
    margin:10px 10px 0 0;
}
#direitaBorda{
    border-left:1px solid #D0DADB;
    height:1%;
    width:100%;
    clear:both;
    background:transparent url(../img/dir_borda_bot.jpg) repeat-x left bottom;
}
#direitaBorda .dir_sombra{
    background:transparent url(../img/dir_borda_dir.jpg) repeat-y top right;
    margin-right:-3px;
    border-top:1px solid #D0DADB;
    padding:10px 20px 10px 10px;
}
#contDireita .dir_esq_top{
    background:transparent url(../img/dir_esq_top.jpg) no-repeat left top;
    width:6px;
    height:5px;
    float:left;
    margin-left: -1px;
}
#contDireita .dir_dir_top{
    background:transparent url(../img/dir_dir_top.jpg) no-repeat right top;
    width:10px;
    height:10px;
    float:right;
    margin-right:-1px;
}
#contDireita .dir_esq_bot{
    background:transparent url(../img/dir_esq_bot.jpg) no-repeat left bottom;
    width:8px;
    height:12px;
    margin-left:-1px;
    float:left;
}
#contDireita .dir_dir_bot{
    background:transparent url(../img/dir_dir_bot.jpg) no-repeat right bottom;
    width:11px;
    height:11px;
    float:right;
    margin-right:-2px;
}
#contDireita h2{
    color:#658404;
    background:transparent url(../img/lista_dir.jpg) no-repeat left center;
    padding-left:17px;
    margin-bottom:10px;
}
#contDireita h2 a{
    color:#658404;
    font-weight:normal;
    text-transform:uppercase;
    font-size:1.1em;
    line-height:140%;
}
#contDireita h3{
    color:#56A73E;
    background:transparent url(../img/lista_dir.jpg) no-repeat left center;
    padding-left:17px;
    margin-bottom:10px;
}
#contDireita h3 a{
    color:#56A73E;
    font-weight:normal;
    text-transform:uppercase;
    font-size:1.0em;
    line-height:140%;
    margin-left:1px;
}
#contDireita ul{
    margin-bottom:10px;
}
#contDireita ul li a{
    font-size:0.9em;
    text-decoration:none;
}
#contDireita ul li a:hover{
    text-decoration:underline;
}
ul#cursos li{
    border-bottom:1px solid #BDE0E0;
    background:transparent url(../img/lista_cursos.jpg) no-repeat left 7px;
    padding-left:15px;
}
#contDireita #cursos li a{
    color:#699696;
}
ul#rede{
    margin:10px 15px 15px 5px;
}
ul#rede li{
    background:transparent url(../img/lista_rede.jpg) no-repeat left 7px;
    border-bottom:1px solid #D6D6D6;
    padding-left:15px;
}
ul#rede li a{
    color:#669726;
}
ul#eventos{
    padding-right:15px;
}
ul#eventos li{
    background:transparent url(../img/lista_eventos.jpg) no-repeat left 7px;
    padding:3px 0 3px 15px;
    border-bottom:1px solid #D0DBC3;
}
ul#eventos a{
    color:#354027;
}
#contDireita .bannerDir{
    display:block;
    text-align:center;
}
ul#cursos li.semBorda, ul#rede li.semBorda, ul#eventos li.semBorda{
    border-bottom:0 none;
}
#info_mais{
    margin:10px 15px 10px 0;
}
#info_mais li{
    text-align:center;
    margin-bottom:10px;
}

/*CONTEUDO*/
#conteudo{
    float:right;
    width:74%;
    margin:5px 10px 10px 0;
    padding-left:5px;
}
#conteudo h3{
    padding-top:10px;
}
#conteudo h4{
    margin:10px 0 5px 0;
    font-size:1.1em;
}
#conteudo #crumb_pesquisar{
    height:1%;
    margin-bottom:5px;
    padding-bottom:5px;
}
#conteudo #crumb_pesquisar p{
    float:left;
}
#crumb_pesquisar p, #crumb_pesquisar a{
    font-size:0.9em;
    letter-spacing:0.1em;
    color:#2F3D01;
}
#conteudo #crumb_pesquisar a{
    font-weight:bold;
    text-decoration:none;
}
#conteudo #crumb_pesquisar a:hover{
    text-decoration:underline;
}
#informacoes{
    border-top:1px solid #CCC;
    padding:10px 0;
}
#informacoes ul{
    float:right;
    height:1%;
}
#conteudo #informacoes li{
    float:left;
    height:17px;
    padding-left:22px;
    margin-left:10px;
    list-style:none;
    clear:none;
}
#informacoes li a{
    color:#989898;
    text-decoration:none;
}
#informacoes li a:hover{
    text-decoration:underline;
}
#informacoes .pdf{
    background:transparent url(../img/pdf.gif) no-repeat left bottom;
}
#informacoes .imp{
    background:transparent url(../img/impressao.gif) no-repeat left bottom;
}
#informacoes .email{
    background:transparent url(../img/email.gif) no-repeat left bottom;
}
h2.conteudo{
    font-size:1.3em;
    margin:10px 0;
}
#conteudo .not_img{
    float:left;
    margin-bottom:15px;
}
#conteudo li{
    list-style:inside disc;
    clear:both;
    margin-left:10px;
}
#conteudo a.oculto, #central a.oculto{
    text-indent:-20000px;
    display:inline-block;
    outline:0;
    font-size:0em;
}
#conteudo #maisImagens{
    margin:20px 0;
    clear:both;
}
#conteudo #maisImagens img{
    margin-right:10px;
    border:1px solid #CBD4B8;
}
#conteudo #arquivoCont a{
    background:transparent url(../img/lista_link.jpg) no-repeat left top;
    padding-left:18px;
}
#conteudo #arquivoCont a:hover{
    text-decoration:underline;
}

/*PESQUISAR*/
#pesquisar, #pesConteudo{
    float:right;
    margin:0 15px 10px 0;
}
#pesConteudo{
    width:254px;
}
#pesquisar label, #pesConteudo label{
    display:block;
    clear:both;
}
#pesquisar input, #pesConteudo input{
    border:1px inset #EFEFEF;
    padding:5px;
    text-align:right;
    width:68%;
}
#pesConteudo input{
    width:200px;
}
#pesquisar input.ok, #pesConteudo input.ok{
    background:transparent url(../img/ok.jpg) no-repeat left top;
    text-indent:-20000px;
    width:30px;
    height:28px;
    border:0 none;
    cursor:pointer;
}

/*FORMUL�RIO EGRESSOS*/
#formEgressos span{
    font-weight:bold;
    color:#900;
}
#formEgressos *{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
}
#formEgressos{
    width:100%;
}
#formEgressos label{
    clear:both;
    display:block;
    margin:5px 0;
}
#formEgressos input, #formEgressos textarea, #formEgressos select{
    padding:3px 0;
    width:50%;
    margin-bottom:3px;
    border:1px solid #9CA888;
}
#formEgressos textarea{
    height:100px;
    overflow:auto;
}
#formEgressos fieldset{
    border:1px solid #9CA888;
    margin:10px 0;
    padding:10px;
}
#formEgressos legend{
    font-weight:bold;
    color:#9CA888;
}
#formEgressos .subDiv{
    border:0 none;
    padding:0;
    margin:0;
}
#formEgressos .subDiv legend{
    text-indent:-20000px;
    font-size:0%;
}
#formEgressos .radio{
    width:100px;
    float:left;
    clear:none;
    margin:5px 0 5px 0;
}
#formEgressos .radio input{
    border:0 none;
    width:13px;
    float:left;
    margin:2px 2px;
    border:1px solid #F00;
}
#formEgressos input.bt{
    width:80px;
    padding:0;
    float:right;
    display:table;
    cursor:pointer;
    text-align:center;
}
#formEgressos #trab_esconder, #formEgressos #est_esconder{
    display:none;
}

/*BUSCA*/
#conteudo .itensBusca li{
    background:transparent url(../img/lista_link.jpg) no-repeat left center;
    margin-bottom:5px;
    list-style:none;
}
#conteudo .itensBusca li a{
    text-decoration:none;
    padding-left:20px;
}
#conteudo .itensBusca li a:hover{
    text-decoration:underline;
}
form#busca{
    width:50%;
    margin:0 auto 30px auto;
}
form#busca fieldset{
    border:1px solid #CCC;
    padding:10px;
    padding-top:20px;
}
form#busca label.label_palavra{
    float:left;
    margin-right:10px;
}
form#busca #palPesquisada{
    float:left;
    width:52%;
    color:#666;
    height:20px;
}
form#busca label.radio{
    float:left;
    margin:20px 20px 0 0;
}
form#busca label.radio input{
    float:left;
    margin-right:3PX;
}
form#busca input#bt_pesq{
    padding:0 !important;
    margin-top:20px;
    float:right;
    background:#ECE9D8;
    border:1px solid #666;
    color:#666;
    cursor:pointer;
    text-align:center;
}

/*MAPA DO SITE*/
#mapaSessao li{
    font-weight:bold;
    margin-top:10px;
}
#mapaSub li{
    font-weight:normal;
    padding-left:10px;
    margin-top:0;
    list-style:inside;
}
#mapaSessao li a:hover{
    text-decoration:underline;
}
/* RODAPE */
#rodape{
    clear:both;
    background:#D8DDC6;
    margin:10px;
    padding:10px;
    height:1%;
}
#rodape *{
    color:#4E5A2F;
}
#rodape a{
    font-weight:bold;
}
#rodape a:hover{
    text-decoration:underline;
}
#rodape address{
    font-style:normal;
    margin:10px 0;
}
#rodape #voltarTopo{
    text-align:right;
    color:#FC0;
    font-weight:bold;
}
#rodape #voltarTopo a{
    background:transparent url(../img/seta_topo.gif) no-repeat right 4px;
    padding-right:15px;
}

/* CLASSES */
a.oculto{
    text-indent:-20000px;
    display:table;
}
.not_img{
    width:104px;
    padding:5px;
    background:#F3F7E9;
    border:1px solid #CBD4B8;
    margin:0 10px 5px 10px;
    float:right;
}
.not_img *{
    font-size:.9em;
}
/* classe usada para banners colocado ao lado direito da p�gina inicial */
img.bannerDireita{
    width:98%;
    /*height:100%;*/
    margin:10px 0;
}

/*BUGS FIREFOX*/
#barraMec:after, #global:after, #noticiaUm:after, #abas:after, #banners:after, #banners ul:after, .sessao:after, .sub_sessao:after, #direitaBorda:after, #crumb_pesquisar:after, #rodape:after, #menu h3:after, #informacoes ul:after, #fundo_branco:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
}

/*CSS PARA ALTO CONTRASTE*/
/* c_preto */
.c_preto p, .c_preto li, .c_preto label, .c_preto input, .c_preto select, .c_preto textarea, .c_preto address{
    color:#FFF !important;
}
.c_preto a{
    color:#9F0 !important;
    font-weight:bold !important;
}
.c_preto img, .c_preto #rodape{
    border:2px solid #9F0 !important;
}
.c_preto h1, .c_preto h3, .c_preto h4, .c_preto h2, .c_preto h3{
    color:#090 !important;
}
.c_preto, .c_preto #global, .c_preto #topo, .c_preto select, .c_preto #destGoverno, .c_preto .autoClear, .c_preto #acessibilidade, .c_preto #container, .c_preto #fundo, .c_preto #fundo_branco, .c_preto h3, .c_preto #rodape, .c_preto #caixa_contraste, .c_preto ul.sub_sessao, .c_preto ul.sub_sessao a, .c_preto .not_img{
    background:#000 !important;
}
.c_preto h2#ifrs a{
    background:transparent url(../img/logo_preto.gif) no-repeat left top;
}
.c_preto h2#campus{
    background:transparent url(../img/campus_preto.gif) no-repeat left top;
}
.c_preto #topo_dir{
    background:transparent url(../img/topo_dir_preto.gif) no-repeat left top;
}
.c_preto #topo_esc{
    background:transparent url(../img/topo_esq_preto.jpg) no-repeat left top;
}
.c_preto #menu .menu_dir_bot{
    background:transparent url(../img/menu_dir_bot_preto.jpg) no-repeat right bottom;
}
.c_preto #menu .menu_esq_bot{
    background:transparent url(../img/menu_esq_bot_preto.jpg) no-repeat right bottom;
}
.c_preto #menu .menu_dir_top{
    background:transparent url(../img/menu_dir_top_preto.jpg) no-repeat right bottom;
}
.c_preto #menu .menu_esq_top{
    background:transparent url(../img/menu_esq_top_preto.jpg) no-repeat right bottom;
}

/* c_azul */

.c_azul p, .c_azul li, .c_azul label, .c_azul input, .c_azul select, .c_azul textarea, .c_azul address{
    color:#FFF !important;
}
.c_azul a{
    color:#FF0 !important;
    font-weight:bold !important;
}
.c_azul img, .c_azul #rodape{
    border:1px solid #FF0 !important;
}
.c_azul h1, .c_azul h3, .c_azul h4, .c_azul h2, .c_azul h3{
    color:#0066FF !important;
}
.c_azul, .c_azul #global, .c_azul #topo, .c_azul select, .c_azul #destGoverno, .c_azul .autoClear, .c_azul #acessibilidade, .c_azul #container, .c_azul #fundo, .c_azul #fundo_branco, .c_azul h3, .c_azul #rodape, .c_azul #caixa_contraste, .c_azul ul.sub_sessao, .c_azul ul.sub_sessao a, .c_azul .not_img{
    background:#003 !important;
}
.c_azul h2#ifrs a{
    background:transparent url(../img/logo_azul.gif) no-repeat left top;
}
.c_azul h2#campus{
    background:transparent url(../img/campus_azul.gif) no-repeat left top;
}
.c_azul #topo_dir{
    background:transparent url(../img/topo_dir_azul.gif) no-repeat left top;
}
.c_azul #topo_esc{
    background:transparent url(../img/topo_esq_azul.jpg) no-repeat left top;
}
.c_azul #menu .menu_dir_bot{
    background:transparent url(../img/menu_dir_bot_azul.jpg) no-repeat right bottom;
}
.c_azul #menu .menu_esq_bot{
    background:transparent url(../img/menu_esq_bot_azul.jpg) no-repeat right bottom;
}
.c_azul #menu .menu_dir_top{
    background:transparent url(../img/menu_dir_top_azul.jpg) no-repeat right bottom;
}
.c_azul #menu .menu_esq_top{
    background:transparent url(../img/menu_esq_top_azul.jpg) no-repeat right bottom;
}

/* c_verde */

.c_verde p, .c_verde li, .c_verde label, .c_verde input, .c_verde select, .c_verde textarea, .c_verde address{
    color:#FFF !important;
}
.c_verde a{
    color:#FF0 !important;
    font-weight:bold !important;
}
.c_verde img, .c_verde #rodape{
    border:1px solid #FF0 !important;
}
.c_verde h1, .c_verde h3, .c_verde h4, .c_verde h2, .c_verde h3{
    color:#999 !important;
}
.c_verde, .c_verde #global, .c_verde #topo, .c_verde select, .c_verde #destGoverno, .c_verde .autoClear, .c_verde #acessibilidade, .c_verde #container, .c_verde #fundo, .c_verde #fundo_branco, .c_verde h3, .c_verde #rodape, .c_verde #caixa_contraste, .c_verde ul.sub_sessao, .c_verde ul.sub_sessao a, .c_verde .not_img{
    background:#020 !important;
}
.c_verde h2#ifrs a{
    background:transparent url(../img/logo_verde.gif) no-repeat left top;
}
.c_verde h2#campus{
    background:transparent url(../img/campus_verde.gif) no-repeat left top;
}
.c_verde #topo_dir{
    background:transparent url(../img/topo_dir_verde.gif) no-repeat left top;
}
.c_verde #topo_esc{
    background:transparent url(../img/topo_esq_verde.jpg) no-repeat left top;
}
.c_verde #menu .menu_dir_bot{
    background:transparent url(../img/menu_dir_bot_verde.jpg) no-repeat right bottom;
}
.c_verde #menu .menu_esq_bot{
    background:transparent url(../img/menu_esq_bot_verde.jpg) no-repeat right bottom;
}
.c_verde #menu .menu_dir_top{
    background:transparent url(../img/menu_dir_top_verde.jpg) no-repeat right bottom;
}
.c_verde #menu .menu_esq_top{
    background:transparent url(../img/menu_esq_top_verde.jpg) no-repeat right bottom;
}

/* CABEÇALHO */ 
.fundo_topo_0{background:#fff url(../img/fundo_topo_0.jpg) no-repeat right bottom}
.fundo_topo_1{background:#fff url(../img/fundo_topo_1.jpg) no-repeat right bottom}
.fundo_topo_2{background:#fff url(../img/fundo_topo_2.jpg) no-repeat right bottom}
.fundo_topo_3{background:#fff url(../img/fundo_topo_3.jpg) no-repeat right bottom}
.fundo_topo_4{background:#fff url(../img/fundo_topo_4.jpg) no-repeat right bottom}
.fundo_topo_5{background:#fff url(../img/fundo_topo_5.jpg) no-repeat right bottom; background-size: 100% 100%;}
.fundo_topo_destaque{background:#fff url(../img/fundo_topo_destaque.jpg) no-repeat right bottom !important; background-size: 100% 100% !important; }

/* BARRA DO GOVERNO */
#barra_governo{width:100%;height:28px;background:#004B82 url(http://ifrs.edu.br/pgs_default/cms_zero/site/img/barra_governo_linha.png) repeat-x}
#barra_governo li {float:right;margin-right:25px}
#barra_governo .ai{display:block;width:161px;height:24px;margin-top:4px;background:url(http://ifrs.edu.br/pgs_default/cms_zero/site/img/barra_governo_ai.png) no-repeat}
#barra_governo .logo{display:block;width:108px;height:24px;margin-top:4px;background:url(http://ifrs.edu.br/pgs_default/cms_zero/site/img/barra_governo_logo.png) no-repeat}